body {
  font-size: 8pt;
}

#propertiesView td {
  padding: 2px;
}

tr.d0 td {
  background-color: #E1EBFB;
}

#leadingPanel {
  padding: 0;
}

.titlePaneInner {
  padding: 5px;
}

#overview .canvascontrol {
  width: 100%;
  height: 100%;
}

.yIcon {
  background-repeat: no-repeat;
  border: 1px solid #b1badf;
  background-color: #f3f6ff;
  width: 30px;
  height: 22px;
  text-align: center;
  background-position: center;
}

.yIconZoomIn {
  background-image: url('../../resources/16x16/zoom_in.png');
}

.yIconZoomOut {
  background-image: url('../../resources/16x16/zoom_out.png');
}

.yIconZoomFit {
  background-image: url('../../resources/16x16/zoom_fit.png');
}

.yIconZoomOriginal {
  background-image: url('../../resources/16x16/zoom_original.png');
}

.yIconShowParent {
  background-image: url('../../resources/16x16/nav_up.png');
}

.yIconHideParent {
  background-image: url('../../resources/16x16/nav_down.png');
}

.yIconShowChildren {
  background-image: url('../../resources/16x16/nav_plus.png');
}

.yIconHideChildren {
  background-image: url('../../resources/16x16/nav_minus.png');
}

.yIconShowAll {
  background-image: url('../../resources/16x16/nav_all.png');
}